In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('dirty_cafe_sales.csv')
df.shape

(10000, 8)

In [ ]:
#to check is there any null values
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [ ]:
#chceck data types
df.dtypes
#if category (obj) then replace with frequent value
# if numerical (int, float) then replace with mean/median

Transaction ID      object
Item                object
Quantity            object
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

In [ ]:
#search value counts for items 
df['Item'].value_counts()

Item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
UNKNOWN      344
ERROR        292
Name: count, dtype: int64

In [ ]:
#search with unique values
df['Item'].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'UNKNOWN',
       'Sandwich', nan, 'ERROR', 'Juice', 'Tea'], dtype=object)

In [ ]:
#replace these unkonw error nan with null
df['Item'] = df['Item'].replace(['UNKNOWN', 'ERROR'], np.nan)
#this will replace all unknown error with nan after that we can fill nan with frequent value

In [ ]:
df['Item'].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', nan, 'Sandwich',
       'Juice', 'Tea'], dtype=object)

In [ ]:
#lets replac nan with frequent value
frequent_value = df['Item'].mode()[0]
df['Item'] = df['Item'].fillna(frequent_value)

In [ ]:
df.isnull().sum()

Transaction ID         0
Item                   0
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [ ]:
#now is for quantity column
df['Quantity'].unique()

array(['2', '4', '5', '3', '1', 'ERROR', 'UNKNOWN', nan], dtype=object)

In [ ]:
#lets replace ERROR and UNKNOWN with nan
df['Quantity'] = df['Quantity'].replace(['ERROR', 'UNKNOWN'], np.nan)

In [ ]:
df['Quantity'].unique()

array(['2', '4', '5', '3', '1', nan], dtype=object)

In [ ]:
#data type is object (coz of nan) we need to convert it into numerical
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')

In [ ]:
df.dtypes

Transaction ID       object
Item                 object
Quantity            float64
Price Per Unit       object
Total Spent          object
Payment Method       object
Location             object
Transaction Date     object
dtype: object

In [ ]:
df.isnull().sum()

Transaction ID         0
Item                   0
Quantity             479
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [ ]:
#lets chg fload into int
df['Quantity'] = df['Quantity'].astype('Int64')

In [ ]:
df.dtypes

Transaction ID      object
Item                object
Quantity             Int64
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

In [ ]:
#replace null values in 'quantity' with median
median_value = df['Quantity'].median()

In [ ]:
#lets fill the null values with mode values
df['Quantity'] = df['Quantity'].fillna(median_value)

In [ ]:
df.isnull().sum()

Transaction ID         0
Item                   0
Quantity               0
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [ ]:
#now lets fix to Price Per Unit column
df['Price Per Unit'].unique()

array(['2.0', '3.0', '1.0', '5.0', '4.0', '1.5', nan, 'ERROR', 'UNKNOWN'],
      dtype=object)

In [ ]:
#lets replace ERROR and UNKNOWN with nan of Price Per Unit
df['Price Per Unit'] = df['Price Per Unit'].replace(['ERROR', 'UNKNOWN'], np.nan)

In [ ]:
df['Price Per Unit'].unique()

array(['2.0', '3.0', '1.0', '5.0', '4.0', '1.5', nan], dtype=object)

In [ ]:
#chg data type of Price Per Unit in to numeric
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce')
df.dtypes

Transaction ID       object
Item                 object
Quantity              Int64
Price Per Unit      float64
Total Spent          object
Payment Method       object
Location             object
Transaction Date     object
dtype: object

In [ ]:
#replace null values in 'Price Per Unit' with mean
mean_value = df['Price Per Unit'].mean()
df['Price Per Unit'] = df['Price Per Unit'].fillna(mean_value)
df.isnull().sum()

Transaction ID         0
Item                   0
Quantity               0
Price Per Unit         0
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [ ]:
#lets fix to the total spent column
df['Total Spent'].unique()

array(['4.0', '12.0', 'ERROR', '10.0', '20.0', '9.0', '16.0', '15.0',
       '25.0', '8.0', '5.0', '3.0', '6.0', nan, 'UNKNOWN', '2.0', '1.0',
       '7.5', '4.5', '1.5'], dtype=object)

In [ ]:
#replace ERROR and UNKNOWN with nan of Total Spent
df['Total Spent'] = df['Total Spent'].replace(['ERROR', 'UNKNOWN'], np.nan)

In [ ]:
df['Total Spent'].unique()

array(['4.0', '12.0', nan, '10.0', '20.0', '9.0', '16.0', '15.0', '25.0',
       '8.0', '5.0', '3.0', '6.0', '2.0', '1.0', '7.5', '4.5', '1.5'],
      dtype=object)

In [ ]:
df.dtypes

Transaction ID       object
Item                 object
Quantity              Int64
Price Per Unit      float64
Total Spent          object
Payment Method       object
Location             object
Transaction Date     object
dtype: object

In [ ]:
#chg data type obj to numeric
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')
df.dtypes

Transaction ID       object
Item                 object
Quantity              Int64
Price Per Unit      float64
Total Spent         float64
Payment Method       object
Location             object
Transaction Date     object
dtype: object

In [ ]:
#to fill null values of Total Spent have to multiply Quantity and Price Per Unit and fill in the nan values
df['Total Spent'] = df['Quantity'] * df['Price Per Unit']

Transaction ID         0
Item                   0
Quantity               0
Price Per Unit         0
Total Spent            0
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [ ]:
df.isnull().sum()

Transaction ID         0
Item                   0
Quantity               0
Price Per Unit         0
Total Spent            0
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [ ]:
#lets fix to Payment Method column
df['Payment Method'].unique()

array(['Credit Card', 'Cash', 'UNKNOWN', 'Digital Wallet', 'ERROR', nan],
      dtype=object)

In [ ]:
#replace ERROR and UNKNOWN with nan of Payment Method
df['Payment Method'] = df['Payment Method'].replace(['ERROR', 'UNKNOWN'], np.nan)

In [ ]:
df['Payment Method'].unique()

array(['Credit Card', 'Cash', nan, 'Digital Wallet'], dtype=object)

In [ ]:
#replace null values of payment method with frequent value
frequent_value = df['Payment Method'].mode()[0]
#view the count of frequent value

In [ ]:
#lets fill the null values with frequent values
df['Payment Method'] = df['Payment Method'].fillna(frequent_value)

In [ ]:
df.isnull().sum()

Transaction ID         0
Item                   0
Quantity               0
Price Per Unit         0
Total Spent            0
Payment Method         0
Location            3265
Transaction Date     159
dtype: int64

In [ ]:
#lets do for the location column
df['Location'].unique()

array(['Takeaway', 'In-store', 'UNKNOWN', nan, 'ERROR'], dtype=object)

In [ ]:
#replace ERROR and UNKNOWN with nan of Location
df['Location'] = df['Location'].replace(['ERROR', 'UNKNOWN'], np.nan)

In [ ]:
#search value counts for location
df['Location'].value_counts()

Location
Takeaway    3022
In-store    3017
Name: count, dtype: int64

In [ ]:
#replace null values with frequent value
frequent_value = df['Location'].mode()[0]

In [ ]:
#fill the null values with frequent value
df['Location'] = df['Location'].fillna(frequent_value)

In [ ]:
df.isnull().sum()

Transaction ID        0
Item                  0
Quantity              0
Price Per Unit        0
Total Spent           0
Payment Method        0
Location              0
Transaction Date    159
dtype: int64

In [ ]:
df['Transaction Date'].unique()

array(['2023-09-08', '2023-05-16', '2023-07-19', '2023-04-27',
       '2023-06-11', '2023-03-31', '2023-10-06', '2023-10-28',
       '2023-07-28', '2023-12-31', '2023-11-07', 'ERROR', '2023-05-03',
       '2023-06-01', '2023-03-21', '2023-11-15', '2023-06-10',
       '2023-02-24', '2023-03-25', '2023-01-15', '2023-04-04',
       '2023-03-30', '2023-12-01', '2023-09-18', '2023-06-03',
       '2023-12-13', '2023-04-20', '2023-04-10', '2023-03-11',
       '2023-06-02', '2023-11-06', '2023-08-15', '2023-10-09',
       '2023-05-28', '2023-07-17', '2023-04-29', '2023-06-08',
       '2023-06-29', '2023-04-17', '2023-12-22', '2023-01-10',
       '2023-10-02', '2023-02-23', '2023-03-22', '2023-11-03',
       '2023-03-02', '2023-06-26', '2023-05-02', '2023-09-05',
       '2023-01-08', '2023-03-15', '2023-11-25', '2023-12-05',
       '2023-03-19', '2023-06-27', '2023-04-19', '2023-10-07',
       '2023-09-30', '2023-05-27', '2023-11-18', '2023-10-20',
       '2023-10-03', '2023-10-27', '2023-04-06', '2023-01-31',
       '2023-12-08', '2023-06-19', '2023-12-14', '2023-07-16',
       '2023-02-22', nan, '2023-06-15', '2023-12-09', '2023-04-18',
       '2023-10-29', '2023-04-30', '2023-04-02', '2023-05-24',
       '2023-03-12', '2023-08-16', '2023-09-10', '2023-03-07',
       '2023-08-07', '2023-08-20', '2023-04-15', '2023-07-25',
       '2023-10-30', '2023-12-15', '2023-02-25', '2023-04-03',
       '2023-10-08', '2023-12-28', '2023-08-30', '2023-02-03',
       '2023-09-12', '2023-05-04', '2023-02-21', 'UNKNOWN', '2023-03-16',
       '2023-02-06', '2023-03-29', '2023-06-18', '2023-09-23',
       '2023-01-14', '2023-09-14', '2023-09-16', '2023-04-08',
       '2023-12-19', '2023-07-14', '2023-12-12', '2023-01-05',
       '2023-01-23', '2023-02-20', '2023-12-06', '2023-05-31',
       '2023-08-11', '2023-09-03', '2023-07-11', '2023-06-06',
       '2023-01-18', '2023-03-23', '2023-01-04', '2023-06-23',
       '2023-08-03', '2023-07-12', '2023-11-02', '2023-07-31',
       '2023-09-19', '2023-02-09', '2023-09-04', '2023-05-21',
       '2023-07-02', '2023-07-10', '2023-11-21', '2023-12-02',
       '2023-03-13', '2023-08-12', '2023-02-16', '2023-04-11',
       '2023-03-26', '2023-11-01', '2023-07-22', '2023-07-26',
       '2023-02-28', '2023-01-27', '2023-01-19', '2023-04-07',
       '2023-03-20', '2023-12-27', '2023-10-26', '2023-02-18',
       '2023-05-15', '2023-12-10', '2023-04-21', '2023-02-04',
       '2023-11-12', '2023-08-05', '2023-05-10', '2023-07-15',
       '2023-01-11', '2023-10-01', '2023-04-26', '2023-08-25',
       '2023-03-01', '2023-11-13', '2023-07-09', '2023-05-13',
       '2023-05-18', '2023-01-17', '2023-09-22', '2023-08-22',
       '2023-07-27', '2023-12-30', '2023-12-21', '2023-09-28',
       '2023-11-16', '2023-04-14', '2023-01-03', '2023-01-12',
       '2023-08-31', '2023-07-07', '2023-09-15', '2023-10-21',
       '2023-09-02', '2023-08-19', '2023-01-06', '2023-10-13',
       '2023-05-29', '2023-05-22', '2023-11-23', '2023-10-15',
       '2023-11-14', '2023-11-26', '2023-12-17', '2023-05-09',
       '2023-10-22', '2023-06-30', '2023-04-25', '2023-02-19',
       '2023-12-11', '2023-10-12', '2023-07-04', '2023-01-28',
       '2023-10-04', '2023-02-26', '2023-10-11', '2023-02-14',
       '2023-04-28', '2023-09-06', '2023-04-23', '2023-01-22',
       '2023-03-10', '2023-01-09', '2023-12-03', '2023-08-06',
       '2023-12-29', '2023-02-15', '2023-05-25', '2023-10-31',
       '2023-02-27', '2023-03-03', '2023-09-27', '2023-08-18',
       '2023-12-16', '2023-06-07', '2023-05-12', '2023-07-06',
       '2023-06-20', '2023-08-09', '2023-05-14', '2023-07-18',
       '2023-10-10', '2023-02-02', '2023-08-14', '2023-09-26',
       '2023-01-13', '2023-10-16', '2023-11-17', '2023-12-20',
       '2023-12-04', '2023-02-08', '2023-09-11', '2023-02-01',
       '2023-02-12', '2023-03-14', '2023-09-29', '2023-04-22',
       '2023-06-13', '2023-12-24', '2023-03-28', '2023-03-06',
       '2023-02-11', '2023-01-30', '2023-04-09', '2023-04-16',
       '2023-12-23', '2023-03-05', '2023-03-24', '2023-07-23',
       '2023-07-29', '2023-06-05', '2023-10-19', '2023-01-07',
       '2023-11-29', '2023-07-05', '2023-07-20', '2023-05-07',
       '2023-08-10', '2023-10-24', '2023-08-13', '2023-08-28',
       '2023-06-21', '2023-11-10', '2023-10-18', '2023-05-19',
       '2023-11-09', '2023-06-24', '2023-05-11', '2023-12-07',
       '2023-09-01', '2023-09-25', '2023-06-22', '2023-05-30',
       '2023-04-24', '2023-09-20', '2023-02-07', '2023-05-05',
       '2023-02-10', '2023-11-24', '2023-10-25', '2023-10-05',
       '2023-07-21', '2023-07-08', '2023-03-17', '2023-10-14',
       '2023-06-28', '2023-09-09', '2023-08-21', '2023-07-01',
       '2023-06-14', '2023-03-09', '2023-11-08', '2023-12-26',
       '2023-09-13', '2023-05-23', '2023-08-24', '2023-04-01',
       '2023-06-09', '2023-08-23', '2023-08-08', '2023-08-27',
       '2023-05-26', '2023-06-16', '2023-12-25', '2023-01-25',
       '2023-10-23', '2023-05-06', '2023-01-29', '2023-08-29',
       '2023-01-01', '2023-07-24', '2023-04-12', '2023-12-18',
       '2023-09-21', '2023-05-01', '2023-02-05', '2023-01-24',
       '2023-01-02', '2023-06-12', '2023-01-16', '2023-10-17',
       '2023-03-04', '2023-06-17', '2023-03-18', '2023-08-26',
       '2023-05-17', '2023-11-22', '2023-08-17', '2023-11-19',
       '2023-11-27', '2023-06-04', '2023-09-17', '2023-11-04',
       '2023-11-28', '2023-06-25', '2023-04-13', '2023-01-26',
       '2023-08-04', '2023-05-08', '2023-11-20', '2023-07-13',
       '2023-09-24', '2023-01-21', '2023-03-08', '2023-09-07',
       '2023-11-30', '2023-08-02', '2023-04-05', '2023-08-01',
       '2023-01-20', '2023-11-11', '2023-02-13', '2023-07-30',
       '2023-02-17', '2023-05-20', '2023-11-05', '2023-03-27',
       '2023-07-03'], dtype=object)

In [ ]:
#replace ERROR and UNKNOWN with nan of Transaction Date
df['Transaction Date'] = df['Transaction Date'].replace(['ERROR', 'UNKNOWN'], np.nan)

In [ ]:
#check is there any negative values in Quantity and Price Per Unit
negative_quantity = df[df['Quantity'] < 0]
negative_price = df[df['Price Per Unit'] < 0]
print(negative_quantity)
print(negative_price)

Empty DataFrame
Columns: [Transaction ID, Item, Quantity, Price Per Unit, Total Spent, Payment Method, Location, Transaction Date]
Index: []
Empty DataFrame
Columns: [Transaction ID, Item, Quantity, Price Per Unit, Total Spent, Payment Method, Location, Transaction Date]
Index: []

In [ ]:
df.to_csv("C:/Users/User/BPS_Batch-30/cleaned_cafe_sales.csv")